body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto; 
  margin: 0;
}
header, nav, article, footer {
  padding: 15px;
}
header {
  background-color: rgb(216, 179, 158);
  grid-column: 1/3;
}
nav {
  background-color: rgb(178, 201, 172);
}
article {
  background-color: rgb(238, 233, 162);
}
footer {
  background-color: rgb(155, 175, 194);
  grid-column: 1/3;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}